.group_names {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.group_table {
    height: 100%;
    box-shadow: 1px 0 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border-collapse: collapse;
}
h2 {
    font-size: 23px;
    font-weight: 600;
    color: #000000;
}

td, th .group_table {
    padding:8px;
    text-align: left;
}
thead {
    background-color: #FFC56D;
    box-shadow: 1px 0 2px 2px rgba(0, 0, 0, 0.3);
}
th {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 70px;
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    border-collapse: collapse;
}
td {
    color: rgb(0, 0, 0);
    font-size: 13px;
    border-collapse: collapse;
    border: 1px solid lightgray;
}
.group_content {
    flex-direction: column;
    gap: 10px;
    display: flex;
    margin-left: 330px;
}
button{
    margin-top: 5px;
    background-color: #FFC56D;
    display: inline-block;
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    padding: 10px 20px;
}
.title_and_button {
    display: flex;
    flex-direction: row;
    gap: 738px;
    margin-top: 40px;
}
@media (max-width: 768px) {}